/*for Sidebery*/
#sidebar { 
  border-radius: 15px; 
  padding: 1px;
}

window {
  background-color: transparent !important;
}

browser#webext-panels-browser {
    border-radius: 15px;
}


/* without Sidebery, native vertical tabs*/
#sidebar-tools-and-extensions-splitter {
  display: none !important;
}

.buttons-wrapper {
  display: none !important;
}

#urlbar {
  width: 50% !important;
}

#urlbar-container {
  display: flex !important;
  justify-content: center !important;
}

#tabbrowser-arrowscrollbox-periphery {
  align-self: center !important;
}

#sidebar-main {
  border-radius: 15px !important;
  margin: 1px !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

#star-button-box {
  display: none !important;
}

.tab-background {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

scrollbox {
  padding-top: 15px !important;
}
